
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


<link rel="stylesheet" href="~/index style/plugins.css" />

<link rel="stylesheet" href="~/index style/style.css" />
<link rel="stylesheet" href="~/index style/templete.css" />
<link rel="stylesheet" href="~/index style/fontawesome-all.css" />



<div class="page-wraper">

    <!-- header -->
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
            <!-- About Services info -->
            <div class="section-full content-inner bg-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="container">
                    <div class="row about-one align-items-center">
                        <div class="col-lg-6 m-b30">
                            <div class="about-img">
                                <img src="~/Userstyle/st2.jpg" alt="">
                                <div class="video-bx">
                                    <a href="https://youtu.be/5ZIGPK9kvAU" class="popup-youtube bg-primary"><i class="fa fa-play"></i></a>
                                </div>
                                <div class="info-bx">
                                    <p>About ZealEdu</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 m-b30">
                            <div class="content-bx">
                                <h2 class="m-b15 title">A company involved in<br><span class="text-primary"> service, maintenance</span></h2>
                                <p class="m-b20">
                                    Zeal is situated in the heart of Karakoram Range, at the confluence of two great glaciers, the Baltoro Glacier and the Godwin-Austen. Zeal provides an awe-inspiring view of some of the highest peaks in the world. It is the base camp for mountains like K-2, Broad Peak, and Gasherbrum. Daring climbers start their journey to conquer these peaks from here. Zeal is surrounded by eighteen peaks that are more than 5000 meters high.

                                    This makes Zeal a special place on earth. In the same spirit, our students will start their educational careers at Zeal Colleges. We prepare students for entry into the best engineering, medical, and general educational institutions in Pakistan and abroad. With our expert faculty and state-of-the-art pedagogy, Zeal Colleges will nurture students’ abilities to their highest possible potential as they go forward on their educational journey
                                </p>
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);" class="site-button m-r30 radius-no">Read More</a>
                                    <div class="phone">
                                        <i class="fa fa-volume-control-phone"></i>
                                        <span>+91 (123) 456 7890</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Services info END -->
            <!-- Company staus -->
            <div class="col-md-7 col-lg-12">
                <div class="txt-block pc-25">

                    <!-- Title -->
                    <center>   <h1 class="" style="  font-weight: 800; color: #E89424; ">At A Glance</h1></center>



                </div>
            </div>
            <div class="section-full text-white bg-img-fix content-inner overlay-black-dark counter-staus-box" style="background-image:url('~/index style/bg1.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 m-b30 col-sm-6 col-6 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.2s">
                            <div class="icon-bx-wraper center">
                                <div class="icon-content">
                                    <h5 class="dlab-tilte counter">43+</h5>
                                    <p>Campuses</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 m-b30 col-sm-6 col-6 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.4s">
                            <div class="icon-bx-wraper center">
                                <div class="icon-content">
                                    <h5 class="dlab-tilte counter">
                                        16,000+
                                    </h5>
                                    <p>Students</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 m-b30 col-sm-6 col-6 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.6s">
                            <div class="icon-bx-wraper center">
                                <div class="icon-content">
                                    <h5 class="dlab-tilte counter">700+</h5>
                                    <p>Faculty Members</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 m-b30 col-sm-6 col-6 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.6s">
                            <div class="icon-bx-wraper center">
                                <div class="icon-content">
                                    <h5 class="dlab-tilte counter">96%</h5>
                                    <p>Passing Result</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Company staus End -->
            <!-- Team Section -->
            <div class="section-full text-center bg-white content-inner">
                <div class="container">
                    <div class="section-head text-black text-center">
                        <h2 class="title">Our Teacher</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="dlab-box m-b30 dlab-team1">
                                <div class="dlab-media">
                                    <a href="javascript:;">
                                        <img width="358" height="460" alt="" src="~/Userstyle/images/Temp-500x620.jpg">
                                    </a>
                                </div>
                                <div class="dlab-info">
                                    <h4 class="dlab-title"><a href="teachers-profile.html">Nashid Martines</a></h4>
                                    <span class="dlab-position">Director</span>
                                    <ul class="dlab-social-icon dez-border">
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="dlab-box m-b30 dlab-team1">
                                <div class="dlab-media">
                                    <a href="javascript:;">
                                        <img width="358" height="460" alt="" src="~/Userstyle/images/Temp-500x620 (3).jpg">
                                    </a>
                                </div>
                                <div class="dlab-info">
                                    <h4 class="dlab-title"><a href="teachers-profile.html">Konne Backfield</a></h4>
                                    <span class="dlab-position">Designer</span>
                                    <ul class="dlab-social-icon dez-border">
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="dlab-box m-b30 dlab-team1">
                                <div class="dlab-media">
                                    <a href="javascript:;">
                                        <img width="358" height="460" alt="" src="~/Userstyle/images/Temp-500x620 (2).jpg">
                                    </a>
                                </div>
                                <div class="dlab-info">
                                    <h4 class="dlab-title"><a href="teachers-profile.html">Hackson Willingham</a></h4>
                                    <span class="dlab-position">Developer</span>
                                    <ul class="dlab-social-icon dez-border">
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="dlab-box m-b30 dlab-team1">
                                <div class="dlab-media">
                                    <a href="javascript:;">
                                        <img width="358" height="460" alt="" src="~/Userstyle/images/Temp-500x620 (1).jpg">
                                    </a>
                                </div>
                                <div class="dlab-info">
                                    <h4 class="dlab-title"><a href="teachers-profile.html">Konne Backfield</a></h4>
                                    <span class="dlab-position">Manager</span>
                                    <ul class="dlab-social-icon dez-border">
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-pinterest" href="javascript:void(0);"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section id="about-2" class="wide-60 about-section division">
                <div class="container">
                    <div class="row d-flex align-items-center">


                        <!-- ABOUT IMAGE -->
                        <div class="col-md-5 col-lg-6">
                            <div class="img-block pc-25 mb-40">
                                <img class="img-fluid" src="~/Userstyle/images/b.jpg" alt="about-image">
                            </div>
                        </div>


                        <!-- ABOUT TEXT -->
                        <div class="col-md-7 col-lg-6">
                            <div class="txt-block pc-25 mb-40">

                                <!-- Title -->
                                <h3 class="h3-sm">Vision</h3>

                                <!-- Text -->
                                <p>To provide a nurturing academic environment where students are transformed into creative, confident and socially responsible adults who are ready to take on life challenges</p>

                                <!-- List -->

                                <h3 class="h3-sm">Mission</h3>
                                <p>Zeal Colleges, under the umbrella of the ZealEdu Group, offer quality education, which is comprehensive and inclusive of our core values and aims to build a high performance environment with prime focus on innovative, life and problem solving skills.</p>
                            </div>
                        </div>	  <!-- END ABOUT TEXT -->


                    </div>    <!-- End row -->
                </div>	   <!-- End container -->
            </section>
        </div>
        <!-- contact area END -->
    </div>

</div>
<section id="about-3" class="pt-80 about-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- ABOUT TEXT -->
            <div class="col-md-7 col-lg-12">
                <div class="txt-block pc-25">

                    <!-- Title -->
                    <h3 class="h1-sm" style=" font-size: 25px; font-weight: 700; color: #E89424; ">Core Value</h3>

                    <!-- Text -->
                    <p>
                        Zeal faculty and staff will create and support a college environment and culture where all are welcomed, accepted and valued for their uniqueness. As an institution, we aspire to lead as a role model in several ways.
                    </p>



                </div>
            </div>	  <!-- END ABOUT TEXT -->
            <!-- ABOUT IMAGE -->
            <div class="col-md-5 col-lg-12">
                <div class="img-block">
                    <img class="img-fluid" src="~/index style/core-value.png" alt="about-image">
                </div>
            </div>


        </div>    <!-- End row -->
    </div>	   <!-- End container -->
</section>

